@page "/"

@using PropertySearch.Services

@inject IStationService stationService

<PageTitle>Index</PageTitle>

<p>
    <MatTextField @bind-Value="@stationName"></MatTextField>
</p>

<MatButton @onclick="GetStationAsync">Test</MatButton>

@code
{
    private string stationName = "";

    private async Task GetStationAsync()
    {
        await stationService.SearchStationAsync(stationName);
    }
}